{% extends 'base.html' %}

{% block title %}
Room {{ room.name }}
{% endblock title %}

{% block header %}
Room {{ room.name }}
{% endblock header %}


{% block content %}
<div class="lg:w-2/4 mx-4 lg:mx-auto p-4 bg-white rounded-xl">
  <div class="chat-messages space-y-3" id="chat-messages">
    <div class="p-4 bg-gray-200 rounded-xl">
      <p class="font-semibold">
        Username
      </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nemo omnis incidunt repellendus!
        Laudantium, voluptatum quas velit ratione beatae, excepturi, consequatur eveniet culpa id ut animi quis
        quibusdam quia earum!</p>
    </div>
  </div>

</div>
{% endblock content %}
